.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: #3C403D;
  text-align: center;
}

.header h2 {
  color: white;
}

.sidenav {
  grid-area: sidenav;
  background-color: #F1B24A;
}

.main {
  grid-area: main;
  background-color: white;
}


.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  background-color: white;
  color: slategray;
  border-radius: 4px;
}
