

.first-header {
  margin-left: 50px;
  margin-right: 100px;
  margin-top: 100px;
  padding: 120px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  color: white;
  border-radius: 10px;
  background: url(backgrounddashboard.jpeg);
  margin-bottom: 80px;
}

.first-header h3 {
  text-shadow: 2px 2px 8px black;
  font-weight: 250;
}

.first-header h1 {
  text-shadow: 2px 2px 8px black;
}


.profile-painting {
  justify-content: center;
  width: 500px !important;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 20px;
  padding: 50px;
  margin-right: 50px;
  margin-left: 100px;
  text-align: center;
  margin-bottom: 50px;
}

.profile-bookings {
  justify-content: center;
  width: 500px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 20px;
  padding: 50px;
  margin-right: 10px;
  margin-left: 120px;
  margin-bottom: 50px;
  text-align: center;
}

.card-product {
  background-color: white;
  margin: 20px;
  width: 440px !important;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 4px;
}


hr {
 width: 80%;
 height: 1px;
 margin-top: 1em;
 margin-bottom: 1em;
}

