.grid-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}

/* Give every child element its grid name */
.header {
  grid-area: header;
  background-color: white;
  text-align: center;
}

.sidenav {
  grid-area: sidenav;
  background-color: white;
}

.main {
  grid-area: main;
  background-color: white;
}

.first-header {
  margin-left: 50px;
  margin-right: 100px;
  padding: 120px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  color: white;
  border-radius: 10px;
  background: url(backgrounddashboard.jpeg);
  margin-bottom: 80px;
}

.first-header h3 {
  text-shadow: 2px 2px 8px black;
}

.first-header h1 {
  text-shadow: 2px 2px 8px black;
}

.first-container {
  display: flex;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 80px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 10px;
}

.second-container {
  display: flex;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 100px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 10px;
}

