// Specific CSS for your home-page
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap);

.banner, {
  padding: 200px 100px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  padding: 0px 0px;
}
h1 {
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-family: Poppins;
  font-weight: lighter;
}

.btn {
  border-radius: 50px
}

.btn-light {
  font-family: Poppins;
  padding: 0px, 15px;
}

.btn-dark {
  font-family: 'Poppins', sans-serif;
}

.white_brown {
 background: linear-gradient(to right, #F8F5F5 65%, white 50%);
}

.white {
  background: white;
}


.content {
  position: relative;
  width: 100%;
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
}

.content .textBox {
  position: relative;
  max-width: 600px;
  margin-top: 170px;
}

.content .imgBox {
  width: 500px;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.thumb {
  width: 500px;
  position: absolute;
  left: 30%;
  bottom: 5px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  max-width: 60px;
  transition: 0.5s;
}

.thumb li:hover {
  transform: translateY(-15px);
}

.thumbsize {
  max-width: 50px;
}


