// Specific CSS for your home-page
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap);

.banner, {
  padding: 200px 100px;
}
.row {
  padding: 0px 0px;
}
h1 {
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-family: Poppins;
  font-weight: lighter;
}

.btn {
  border-radius: 50px
}

.btn-light {
  font-family: Poppins;
  padding: 0px, 15px;
}

.btn-dark {
  font-family: 'Poppins', sans-serif;
}

.white_brown {
 background: linear-gradient(to right, #F8F5F5 65%, white 50%);
}

.white {
  background: white;
}

.painting {
  // float: right;
  margin-right: 0px 0px 0px 30px;
  display: flex;
}
