// Import page-specific CSS files here.
@import "home";
@import "show";
@import "dashboard";

.btn {
  border-radius: 50px;
}

.container-index {
  width: 900px;
  margin: auto;
}

.card-trip {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  }

.card {
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  padding: 20px;
}
//   display: flex;
// //   align-items: center;
//   justify-content: space-around;
//   font-size: 22px;
//   color: white;
//   font-weight: bolder;
//   text-shadow: 0 0 10px rgba(0,0,0,0.7);
 // }
