// Import page-specific CSS files here.
@import "home";
@import "show";
@import "dashboard";

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
  text-align: center;
  width: 55%;
}

.card-container {
  flex-wrap: wrap;
  margin-top: 50px;
}



.image-display {
  margin-bottom: 30px;
  width: 300px;
}

.search-bar {
  display: flex;
  justify-content: center;
  .btn-primary {
    margin: 8px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
  }
  margin-top: 8px;
}

#map {
  position: sticky;
  top: 20px;
  border-radius: 6px;
}

.info {
  padding: auto;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.index-page-search {
  width: 400px;
}
// .btn {
//   border-radius: 50px;
// }

// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
// }

// .cards {
//   border-radius: 6px;
//   box-shadow: 0 10px 30px rgba(0,0,0,.1);
//   background-color: rgba(239, 239, 239, 1);
//   transition: background-color 0.2s;
// }

// .card:hover {
//   background-color: lightgrey;
// }


// .card-title {
//   color: rgb(0,0,0);
// }

// .card-text {
//   color: rgb(0,0,0);
// }

// #card_add {

// }

// #img_card_add {
//   opacity: 0.5;
// }

// .plus {
//   font-size: 60px;
//   color: rgb(0,0,0);
//   position: absolute;
//   top: 25%;
//   left: 40%;
// }
