
.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  height: 760px;
  width: auto;
}

.container {
  width: 700px;
  margin: 40px auto;
  padding-bottom: 200px;
}

.painting-image {
  padding: 5px;
  margin-bottom: 10px;
}

