<p id="notice"><%= notice %></p>

<h1>Paintings</h1>

<%= link_to "Rent out your own painting", new_painting_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Banner url</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>
