<div class="container">
  <h1>Edit your booking for <%= @painting.name %></h1>

</div>

add form
  <%= link_to 'Cancel my booking', booking_path(booking), method: :delete, data: { confirm: "Are you sure you wish to cancel your booking?" } %>
